html {
    overflow-y: scroll;
}

html, body {
	background: #eee;
}

h1 {
	font-size: 28px;
}

.page {
	width: 940px;
	margin: 20px auto;
	border: 1px solid #666;
	background: #fff;
}

.header {
	border-bottom: 1px solid #666;
	display: table;
	width: 100%;
}

.header .section {
	display: table-cell;
	padding: 15px 0;
}

.header .title {
	text-align: center;
	vertical-align: middle;
	width: 1px;
	padding: 15px;
}

.header .profile-wrapper {
	border: 1px solid #666;
	padding: 10px;
	line-height: 24px;
	padding-right: 40px;
	position: relative;
	margin: 0 15px;
	min-width:200px;
}

.header .profile-wrapper img {
	float: left;
	margin-right: 10px;
}

.header .controls {
	vertical-align: middle;
	text-align: right;
	padding-right: 15px;
}

.header .controls .dropdown-menu {
	text-align: left;
}

.header .profile-wrapper a.notifications-link {
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #c00;
	color: #fff;
	border: 1px solid #666;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-decoration: none;
}

.header .profile-wrapper .notifications {
	position: absolute;
	width: 190px;
	border: 1px solid #666;
	background: #fff;
	top: 50%;
	margin-top: 24px;
	right: -65px;
	z-index: 1;
	display: none;
}

.header .profile-wrapper .notification-section {
	padding: 7px;
	border-bottom: 1px solid #666;
}

.header .profile-wrapper .notification-section:first-child,
.header .profile-wrapper .notification-section:last-child {
	padding: 2px 7px;
	font-size: 12px;
}

.header .profile-wrapper .notification-section:last-child {
	text-align: center;
	border-bottom: none;
}

.header .profile-wrapper .notifications:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #000;
	position: absolute;
	top: -10px;
	right: 88px;
}

.header .profile-wrapper .notifications:after {
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top: -9px;
	right: 88px;
}

ul.menu {
	height: 46px;
	background: #888;
	margin: 0;	
	border-bottom: 1px solid #666;
	list-style: none;
	padding: 0 10px;
}

ul.menu li {
	display: inline-block;
	line-height: 46px;
	height: 46px;
}

ul.menu li a {
	padding: 0 15px;
	text-decoration: none;
	color: #eee;
}

.content {
	padding: 15px;
}

.content .heading {
	border-bottom: 1px solid #666;
	margin-bottom: 20px;
	position: relative;
}

.content .heading ul.page-options {
	float: right;
	list-style: none;
	height: 32px;
	margin-top: -36px;
}

.content .heading ul.page-options li {
	height: 32px;
	display: inline-block;
	line-height: 32px;
}

.content .heading ul.page-options li:first-child:after {
	content: ' | ';
}

.content .heading .teacher-comments {
	border: 1px solid #666;
	background: #fef8e1;
	padding: 15px;
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
	display: none;
	height: 80px;
	line-height: 80px;
	text-align: center;
}

.content .heading .teacher-comments i {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.content .heading .teacher-comments:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #000;
	position: absolute;
	top: -10px;
	right: 150px;
}

.content .heading .teacher-comments:after {
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #fef8e1;
	position: absolute;
	top: -9px;
	right: 150px;
}

.content .col {
	width: 290px;
	float: left;
	margin-left: 20px;
}

.content .col.first {
	margin-left: 0;
}

.content .col .block {
	margin-top: 20px;
}

.content.editable .col .block {
	border: 1px solid #666;
}

.content .col .block:first-child {
	margin-top: 0;
}

.content .col .block .block-heading {
	border-bottom: 1px solid #666;
	background: #888;
	color :#eee;
	padding: 5px 10px;
	display: none;
}

.content.editable .col .block .block-heading {
	display: block;
}

.content .col .block .block-heading .block-controls {
	float: right;
}

.content .col .block .block-content {
	padding: 15px;
}

.footer {
	padding: 15px;
	text-align: center;
}

.clear {
	clear: both;
}

.ibutton-container {
	display: inline-block;
	vertical-align: middle;
}

.ibutton-container label {
	display: inline-block;
}

.editbar {
	height: 100px;
	background: #ccc;
	border-bottom: 1px solid #666;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding-left: 160px;
}

.editbar .insert-item {
	padding: 15px 0;
	float: left;
	line-height: 32px;
	text-align: center;
	min-width: 90px;
	cursor: move;
}

.editbar .insert-item img {
	padding: 10px;
	border: 1px solid #666;
	display: block;
	margin: 0 auto;
}

.editbar ul.insert-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	list-style: none;
	margin: 0;
	background: #666;
}

.editbar ul.insert-section li {
	line-height: 24px;
	height: 24px;
	border-bottom: 1px solid #999;
}

.editbar ul.insert-section li.active {
	background: #ccc;
}

.editbar ul.insert-section li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: #eee;
}

.editbar ul.insert-section li.active a {
	color: #333;
}

.editbar ul.insert-section li a:hover {
	text-decoration: underline;
}

.editbar ul.insert-section li.active a:hover {
	text-decoration: none;
}

.blackout {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .7;
	display: none;
}

.dashboard {
	position: fixed;
	z-index: 9999;
	top: 30px;
	bottom: 30px;
	left: 50%;
	width: 780px;
	padding-left: 120px;
	margin-left: -450px;
	background: #fff;
	display: none;
}

.dashboard i {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

ul.dashboard-menu {
	position: absolute;
	margin: 0;
	list-style: none;
	width: 100px;
	background: #bbb;
	top: 0;
	left: 0;
	bottom: 0;
}

ul.dashboard-menu li {
	height: 100px;
}

ul.dashboard-menu li.active {
	background: #fff;
}

ul.dashboard-menu li a {
	height: 85px;
	display: block;
	text-align: center;
	line-height: 32px;
	padding-top: 15px;
	color: #111;
}

ul.dashboard-menu li a img {
	display:block;
	margin: 0 auto;
}

.block-content h3:first-child {
	margin-top: 0;
}